<ng-container *ngIf="sharedData.productCode === 'CA560'">
  <div>
    <small class="item-header">
      Fidelity Small Business Account (FSBA) (Starter/Micro)
    </small>

    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>₦10,000 minimum account opening /operating balance</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>No account maintenance fee for all debit turnover amounts as long as customer maintains the N10,000 minimum daily operating balance required to enjoy free transactions on the customer’s FSBA (Starter/Micro) account</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small><b>If at the end of any day, the FSBA (Starter/Micro) account is discovered to have a credit balance below N10,000, all debit transactions on that day on the account will be charged account maintenance fee at N1/mille.</b> All accrued charges on the account will be taken at the end of the month. However, if the FSBA (Starter/Micro) account under reference is not funded at the end of the month in which the charge has accrued, it will be carried forward and taken at the end of the following month. If the charge is still pending, it will continue to be carried forward to subsequent months until the charge is successfully taken.</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>No fixed monthly charges</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>No limit on number of withdrawals</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>Easy access to loans</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>Free business advisory services</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>Access to e-banking services</small></div>
    </div>

  </div>  
</ng-container>

<ng-container *ngIf="sharedData.productCode === 'CA508'">
  <div>
    <small class="item-header">
      Fidelity Premium Business Account (FPBA) (Variant 1)
    </small>

    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>₦100,000 minimum opening/operating balance.</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>Maximum account-maintenance-charge-free monthly turnover –N50m</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>No monthly maintenance charge</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>Account will be charged maintenance fee at N1/ mille on the transaction responsible for the account balance going below the minimum operating balance of N100,000 (one hundred thousand naira only) and charge is applied online, real-time</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>Any debit turnover recorded on the account in excess of the monthly charge-free debit turnover amount of N50m will be charged account maintenance charge (AMC) at N1/mille</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>0.5% P.A interest on average monthly credit balance</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>Free initial cheque book</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>Access to loan facilities</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>Access to electronic banking services – cards & online banking</small></div>
    </div>

  </div>  
</ng-container>

<ng-container *ngIf="sharedData.productCode === 'CA565'">
  <div>
    <small class="item-header">
      Fidelity Business+ Account (Growing/Small Variant)
    </small>

    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>₦20,000 minimum account opening/operating balance</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>Account maintenance Fee of ₦0.40k/mille for all debit turnover amounts</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small><b>If at the end of any day, the Fidelity Business+ (FB+) account is discovered to have a credit balance below N20,000, all debit transactions on that day on the account will be charged account maintenance charge at N1/mille.</b> All such accrued charges on the account will be taken at the end of the month. However, if the FB+ account under reference is not funded at the end of the month in which charge has accrued, it will be carried forward and taken at the end of the following month. If the charge is still pending, it will be carried forward to subsequent months until it is successfully taken.</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>Allows lodgments of cheques and dividend warrants.</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>Allows access to Sage Accounting package</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>Allows access to loan. </small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>No fixed monthly fee</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>Access to e-banking services</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>Customer must maintain Average Credit balance of N500,000.00 (five hundred thousand naira only) over three months to continue to enjoy free access to Sage</small></div>
    </div>

  </div>  
</ng-container>

<ng-container *ngIf="sharedData.productCode === 'OD420'">
  <div>
    <small class="item-header">
      OD420 Account
    </small>

    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>₦2,000 minimum account opening & operating balance</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>Allows for charge-free actual monthly debit turnover threshold of N300,000 (three hundred thousand naira only)</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>Allows lodgment of cheques and dividend warrants</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>Allows access to loan facilities</small></div>
    </div>
    
    <div class="item-row">
      <div><img class="icon" src="./assets/images/send.svg"></div>
      <div class="icon-container"><small>Access to e-banking services</small></div>
    </div>
  </div>  
</ng-container>