<div class="container">

   
  <div class="updatetext">Update Mandate</div>
  <div class="entertext">Enter a valid account number with the corresponding RC Number</div>



  <form [formGroup] = "refCodeform">
    <div class="ui action input">
      <input type="number" placeholder="Enter your business account number" formControlName = "refcode" pattern = "^\d{10}" class="input">
    </div><br><br>
<!-- 
    <div class="ui action input" style="width:50%" >
      <input type="text" placeholder="Enter your RC number" formControlName = "rcNumber" pattern = "^\d{6}">
    </div><br> -->

    <button class="ui icon button" (click) ="validateAccount()"  [disabled] = "refCodeform.invalid">
        <!-- <i class="fas fa-spin fa-spinner" *ngIf="loading"></i> -->
        {{ loading ? '...please wait while we validate your account number' : 'LET’S GO!'}}
    </button>  
  </form>


  <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->


 

  
  <!-- <div class="form">
    <div class="ui action input" style="width:50%">
      <input type="number" placeholder="Enter your business account" [(ngModel)]="phoneNumber" (keyup)="validateInput()" type="number" >
    </div><br>

    <div class="ui action input" style="width:50%;margin-top:20px">
      <input type="number" placeholder="Enter your business account" [(ngModel)]="rcNumber" (keyup)="validateInput()" >
    </div> 
   
  </div> -->
 
  <!-- <button class="button" (click)="openDialog()" [disabled] = "disableButton">
   <div class="go">Lets Go!</div>     {{ loading ? '...please wait while we validate your code' : 'Go'}} -->
  <!-- </button> -->


<!-- <button class="button" (click)="abc()" [disabled] = "disableButton">
  <div class="go">tryyy!</div>      <!-- {{ loading ? '...please wait while we validate your code' : 'Go'}} -->
<!-- </button> -->


<!-- 
<input placeholder="password" type="password" [(ngModel)]="password" (keyup)="validateInput()" text-left></input>

<button  (click)="login()" [disabled]="disableButton"> Login &nbsp;</button>
 -->
</div>
