<div class="container">
  <header>
    <h3 style="color: #4fc143; letter-spacing: 2px; font-weight: 600">CONGRATULATIONS!</h3>
  </header>
  <div class="uk-card uk-card-body">
    <div class="image">
      <img src="./assets/images/undraw_completed_ngx6.svg" alt="confirm" style="height:200px">
    </div>
    <div class="successText">
      <p class="text-left" style="font-size: 1.3rem">Your account creation was successful.</p>
      <h5 class="text-left">Account Name: <b>{{companyName}}</b></h5>
      <h5 class="text-left">Account Number: <b>{{accountNumber}}</b></h5>
      <p class="text-left">Please visit the Fidelity Bank nearest to you with the following documents to regularize your
        account</p>
      <p class="text-left">For registered companies, you will need the following;</p>
      <div class="ui list">
        <div class="item">
          <p>1. 2 Positive References from 2 corporate bodies (Limited liability companies)</p>
          <p>2. Certificate of Incorporation</p>
          <p>3. CTC C07- Particulars of Directors</p>
          <p>4. CTC Memorandum and Articles of Association (MEMART)</p>
          <p>5. Utility Bill or Tax Clearance</p>
          <p>6. A valid ID card.</p>
        </div>
        <br>
        <p class="text-left">For unregistered companies, you will need the following;</p>
        <div class="item">
          <p>1. 2 Positive Reference of Current Account Holders</p>
          <p>2. Utility Bill or Tax Clearance</p>
          <p>3. A valid ID card.</p>
        </div>
        <h3>Congratulations and welcome to Fidelity Bank.</h3>
      </div>

      <div class="updatebtn">
        <a routerLink="/Updateaccount">
         <button>Update Account Mandate</button>
      </a> 
      </div>

    </div>
  </div>


</div>