<div class="container">

    <!-- section one -->
    <div class="row section-one">

        <!-- section One column one  -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 sOneColumnOne">
            <div class="content">
                <h1 class="title">The Fidelity Business Account</h1>
                <p>
                    At Fidelity, there is something for every business.<br><br>
                    As a start-up, growing or large business, there is a Fidelity Business Account tailored perfectly to suit your needs, and
                    enable you build a sustainably successful business.
                </p>
                <!-- <p>
                    Whether you are an ambitious entrepreneur just starting out your next venture or a forward-thinking
                    business looking to expand, our Fidelity Business Account is designed to help businesses of all
                    stages start, grow and thrive.
                </p> -->
                <a routerLink="/refcode">
                    <button>Open an account</button>
                </a>

              
            </div>
        </div>

        <!-- section one column two -->
        <div class="col-lg-6 col-md-6 d-none d-sm-block sOneColumnTwo">
        </div>

    </div>

    <!-- section two -->
    <!-- <div class="row section-two">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="content">
                Fidelity Business account is a current account specifically targeted at Small Medium Enterprise with a
                monthly turnover of N30 million. This account is designed to help and encourage the SME segment of the
                economy
            </div>
        </div>
    </div> -->

    <!-- section three -->
    <div class="row justify-content-around section-three">
        <div class="content">
            <div class="title">
                <h4>Features</h4>
            </div>

            <div class="container card-container mt-4 mb-4">
                <div class="row sThreeCardBlockOne">
                    <div class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-2">
                        <div class="card-block">
                            <div>
                                <img class="image" src="./assets/images/withdraw.png">
                            </div>
                            <br>
                            <div class="">
                                <p>Unlimited withdrawals</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-2">
                        <div class="card-block">
                            <div>
                                <img class="image" src="./assets/images/balance.png">
                            </div>
                            <br>
                            <div class="">
                                <p>Zero Account Maintenance Fee (Terms and Conditions Apply)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-2">
                        <div class="card-block">
                            <div>
                                <img class="image" src="./assets/images/research.png">
                            </div>
                            <br>
                            <div class="">
                                <p>Access to a wide range of business resources</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- section four -->
    <div class="row section-four">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/faq.png" width="50" height="50" alt="...">
                    <a href="https://www.fidelitybank.ng/customer-service/faqs/" target="_blank">
                        <p class="card-title">FAQs</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/find branch.png" width="50" height="50" alt="...">
                    <a href="https://www.fidelitybank.ng/branch-atm-locator/" target="_blank">
                        <p class="card-title">Find a Branch & ATM</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/Group21.svg" width="50" height="50" alt="...">
                    <a href="https://www.fidelitybank.ng/whistle-blowing/" target="_blank">
                        <p class="card-title">Whistle Blowing</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/customer feedback.png" width="50" height="50" alt="...">
                    <a href="https://www.surveymonkey.com/r/TVVSPYF" target="_blank">
                        <p class="card-title">Customer Survey Feedback</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <!-- <div class="row section-five">
        <div class="footer-text">
            <p>RC 103022</p>
            <p>Copyright 2019 Fidelity Bank Plc. An authorised financial services and credit provider.</p>
            <p>Website Terms & Conditions | Disclaimer, Privacy & Security | Communication Policy | Sitemap</p>
        </div>
        <div class="">
            <img class="footer-image" src="./assets/images/firs.png">
        </div>
    </div> -->

</div>