.message{
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.0044em;
    color: #767676;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.failed{
font-family: Lora;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
display: flex;
align-items: center;
letter-spacing: 0.0044em;
color: #d15555;  
}