<div class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 id="text">Zero Operating Balance and access to Loan Facilities</h4>
          <a href="#calculator"><button class="btn btn-small btn-primary">CALCULATE</button></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 id="text">Open with any amount and get monthly interest payment</h4>
          <button class="btn btn-primary">Savings Account</button>
        </div>
      </div>
    </div>
  </div>
</div>
